body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
#rotateMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 9999;
}
#contentWrapper {
  display: none;
}
#compassHeadingDisplay {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 10000;
  color: white;
}
#dropdownContainer {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
#locationDropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}
#locationDropdown option {
  padding: 8px;
  font-size: 16px;
}
.reload-button {
  position: fixed;
  font-family: Arial, sans-serif;
  padding: 8px;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}

#overviewButton {
  position: fixed;
  font-family: Arial, sans-serif;
  padding: 8px;
  font-size: 16px;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

#overviewTitle {
  font-weight: bold;  
}

#overviewImage {
  width: 100%;
  height: auto;
  padding-top: 8px;
}

#overviewUrl {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

#overviewUrl:hover {
  text-decoration: underline;
}

/* モーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 10001;
}
.modal-content {
  background-color: #fefefe;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 780px;
  overflow-y: auto;
}
.slide {
  margin-bottom: 20px;
}
.slide img {
  width: 100%;
  height: auto;
}
.prev, .next {
  color: black;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
  border: none;
  transform: translateY(-50%);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.active {
  background-color: #717171;
}
